# Dependências
node_modules/

# Variáveis de ambiente (NUNCA suba isso!)
.env

# Logs e arquivos temporários
npm-debug.log*
*.log

# Configurações de IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db